@import './components/menu.css';
@import './components/Home.css';
@import './components/Contact.css';
@import './components/Projects.css';
@import './components/About.css';

body {
  margin: 0;
  padding: 0;
}
html { 
  background: url(pictures/mainBackGround.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.noDisplay {
  display: none;
}
